<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All About Me</title>
</head>
<body>
    <!-- This is where I put my headings-->
    <H1>All About Andrew</H1>
    <H2>This is me</H2>
    <p>I'm <strong>Andrew</strong> and I'm a <em>senior</em> at UMD. I'm studying Accounting and Information Systems.
    I'm enrolled in the Master's of Information Systems Program @ Smith for this coming fall.
    I'm looking to expand my skillset in data analytics and data sciecne.</p>
    <H2> My Interests</H2>
    <p>In my free time I enjoy <em><strong>3d printing</strong>, flying drones, and taking my dog, Tovy, on walks.</em></p>
    <H2>Likes</H2>
    <!--List 1-->
    <ul>
        <li>Dogs</li>
        <li>Tennis</li>
        <li>Travel</li>
        <li>photography</li>
    </ul>
    <!--List 2-->
    <H2>Pet Peeves Ranked</H2>
    <ol>
        <li>Open Mouth Chewers</li>
        <li>Unexplained Delays</li>
        <li>Off-Leash Dogs (the big ones)</li>
    </ol>
    <H3>My Classes</H3>
    <!--My First Table-->
    <table>
        <tr>
            <th>Course Number</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BUDT703</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BUDT721</td>
            <td>Fall 2022</td>
        </tr>
    </table>
    <!-- This is where I add the linls-->
    <a href="/hello">Click Me</a>
    <br>
    <a href="https://www.usatoday.com" target="_blank">USA Today</a>
    <br>
    <a href="https://elms.umd.edu" target="_blank">ELMS</a>
    <br>
    <a href="https://elms.umd.edu"><img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    width="267" height="72" alt="UMD Smith Logo"></a>
</body>
</html>