<body>
{% extends 'base.html' %}
    {% block content %}

    <h1>Contact Information</h1>
    {% if form_submitted %}
    <div class="col-12">
        <h2>Thanks for completing the form!</h2>
    </div>
    <div class="col-md-6">
    <p>First Name: {{ request.form.get('f_name') }}</p>
    </div>
    <div class="col-md-6">
    <p>Last Name: {{ request.form.get('l_name') }}</p>
    </div>
   <div class="col-md-8">
    <p>Email: {{ request.form.get('email') }}</p>
    <div class="col-md-10">
    <p>Password has been confirmed!</p>
    </div>
    {% else %}
        <form class="row g-3" action="{{ url_for('contact') }}" method="post">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="f_name" name="f_name" placeholder="John">
          <label for="f_name">First Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="l_name" name="l_name" placeholder="Smith">
          <label for="l_name">Last name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="example@umd.edu">
          <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="user_password" name= "user_password" placeholder="Password">
          <label for="user_password">Password</label>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
{% endblock %}
</body>
</html>